<a class="btn btn-link" href="/project/">back</a>
<!-- <p><a href="/course/">back</a></p> -->
<div class="container">

	<div class="row">
		<div class="col-md-10">
			<h2>{{ project.title }}</h2>
		</div>
		<div class="col-md-2 pull-right" ng-if="(showApplication && !hasApplied) || data[0].application_status === 'cancelled'">
      <form ng-submit="apply()">
        <input class="btn btn-success header-button" type="submit" value="Apply">
      </form>
		</div>
		<div class="col-md-2 pull-right" ng-if="showApplication && hasApplied && data[0].application_status === 'applied'">
      <form ng-submit="cancel()">
        <input class="btn btn-danger header-button" type="submit" value="Cancel">
      </form>
		</div>
    <div class="col-md-2 pull-right" ng-if="showApplication && hasApplied && data[0].application_status === 'accepted'">
      <form>
        <input class="btn btn-link header-button" type="submit" value="Accepted" disabled="true">
      </form>
    </div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<h4>{{ project.description }}</h4>
		</div>
	</div>
</div>

<div class="container" ng-if="userType === 'sponsor'">
  <div class="col-md-10">
    <h2>Applicants</h2>
    {{ applicants }}
    <table class="table">
      <thead>
        <tr>
          <th>Username</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="applicant in applicants">
          <td>{{ applicant.login }}</td>
          <td>{{ applicant.FirstName }}</td>
          <td>{{ applicant.LastName }}</td>
          <td>
            <form ng-submit="accept(applicant.StudentID)" ng-if="applicant.status === 'applied'">
              <input  class="btn btn-success" type="submit" value="Accept">
            </form>
            <form ng-submit="accept(applicant.StudentID)" ng-if="applicant.status === 'cancelled'">
              <input  class="btn" type="submit" value="Cancelled" disabled="true">
            </form>
            <form ng-if="applicant.status === 'accepted'">
              <input  class="btn btn-lnik" type="submit" value="Accepted" disabled="true">
            </form>

          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
