<!-- <p><a href="/course/">back</a></p> -->
<div class="split-pane">
  <div class="col-md-6 detail-pane">

  	<div class="row">
      <div class="col-md-2">
        <a class="btn btn-link header-button" href="#" ng-click="go_back()">back</a>
      </div>
  		<div class="col-md-6">

  			<h2>{{ project.title }}</h2>
  		</div>
      <div class="col-md-2">

        <h2>${{ project.payment }}</h2>
      </div>
  		<div class="col-md-2 pull-right" ng-if="eligible && ((showApplication && !hasApplied) || data[0].application_status === 'cancelled')">
        <form ng-submit="apply()">
          <input class="btn btn-success header-button" type="submit" value="Apply">
        </form>
  		</div>
      <div class="col-md-2 pull-right" ng-if="!eligible && showApplication && !hasApplied">
        <form ng-submit="apply()">
          <input class="btn header-button" type="submit" value="Requirements not met" disabled="true">
        </form>
      </div>

  		<div class="col-md-2 pull-right" ng-if="showApplication && hasApplied && data[0].application_status === 'applied'">
        <form ng-submit="cancel()">
          <input class="btn btn-danger header-button" type="submit" value="Cancel">
        </form>
  		</div>
      <div class="col-md-2 pull-right" ng-if="showApplication && hasApplied && data[0].application_status === 'accepted'">
        <form>
          <input class="btn btn-link header-button" type="submit" value="Accepted" disabled="true">
        </form>
      </div>
  	</div>
    <hr />

    <div class="row">
      <div class="col-md-2">
      </div>

  		<div class="col-md-8">
  			<h4>Description</h4>
        <textarea class="big-textarea form-control" readonly="true">{{ project.description }}</textarea>
  		</div>
  	</div>
    <div class="row">
      <div class="col-md-2">
      </div>

  		<div class="col-md-8">
  			<h4>Deliverables</h4>
        <textarea class="big-textarea form-control" readonly="true">{{ project.deliverables }}</textarea>
  		</div>
  	</div>
    <div class="row">
      <div class="col-md-2">
      </div>

      <div class="col-md-8">
        <h4>Prerequisites</h4>
        <textarea class="big-textarea form-control" readonly="true">{{ project.requirements }}</textarea>
      </div>
    </div>

    <div class="row" ng-if="showApplication && hasApplied && data[0].application_status === 'accepted'">
      <div class="col-md-2">
      </div>
      <div class="col-md-8">

        <h4> Submit Work</h4>
        <form name="form">
          <input type="file" class="button" ngf-select ng-model="file" name="file">
        </form>
      </div>
    </div>
  </div>

  <div class="col-md-6 applicant-pane" ng-if="userType === 'sponsor' && !projectOngoing">
    <div class="row">
      <h2>Applicants</h2>
    </div>
    <div class="applicant-table">
      <div class="row applicant-row" ng-repeat="applicant in applicants">
        <a href="/student/{{applicant.StudentID}}"><span></span></a>

        <div class="col-md-10">{{ applicant.FirstName }} {{ applicant.LastName }}</div>
        <div class="col-md-2 top-layer">
          <form ng-submit="accept(applicant.StudentID)" ng-if="applicant.status === 'applied'">
            <input  class="btn btn-success pull-right top-layer" type="submit" value="Accept">
          </form>
          <form ng-submit="accept(applicant.StudentID)" ng-if="applicant.status === 'cancelled'">
            <input  class="btn pull-right top-layer" type="submit" value="Cancelled" disabled="true">
          </form>
          <form ng-if="applicant.status === 'accepted'">
            <input  class="btn btn-link pull-right top-layer" type="submit" value="Accepted" disabled="true">
          </form>
          <form ng-if="applicant.status === 'unsuccessful'">
            <input  class="btn btn-link pull-right top-layer" type="submit" value="Unsuccessful" disabled="true">
          </form>

        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6 applicant-pane" ng-if="userType === 'sponsor' && projectOngoing">
    <div class="row">
      <h2>Work Details</h2>
    </div>
    <div class="applicant-table">

      <div class="row applicant-row">
        <a href="/student/{{engagedApplicant.StudentID}}"><span></span></a>
        <div class="col-md-10">{{ engagedApplicant.FirstName }} {{ engagedApplicant.LastName }}</div>
        <div class="col-md-2 top-layer">
          <form>
            <input  class="btn btn-link pull-right top-layer" type="submit" value="Accepted" disabled="true">
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
