<div class="header">
	<div class="row header-row overlay">
		<div class="span12 masthead">
			<h1 class="heading">Prepare to git gud.</h1>
		</div>
	</div>

	<carousel class="big-carousel" disable-animation="true">
		<slide>
			<img src="http://i.imgur.com/iEZJMLp.jpg">
		</slide>
		<slide>
			<img src="http://i.imgur.com/gXClgL3.png">
		</slide>
		<slide>
			<img src="http://i.imgur.com/LtqL769.jpg">
		</slide>
	</carousel>
	<br />
	<div class="container big-page">
	  <div class="row">
			<div class="col-md-12">
	    	<h3> Hey. </h3>
				<p> Big text dude let's type some stuff to fill in this space, like what happens when water and rubber band fuse together and form waterband or rubberwater wow! </p>
			</div>
	  </div>

		<hr>
	  <div class="row">
			<div class="col-md-12">
				<h3> The three stooges </h3>
			</div>
		</div>
		<div class="row">
	    <div class="col-md-4">
				<img class="img-circle" src="http://placebear.com/200/200">
	      <h4>Bear</h4>
	      <p>There are many kinds of bears. Bears, bears bears, and bears. Yeah they're all bears. The other ones are just there to trick you. </p>
	    </div>
			<div class="col-md-4">
				<img class="img-circle" src="http://fillmurray.com/200/200">
	      <h4>Bill Murray</h4>
	      <p>There is only one kind of Bill Murray. And no one knows what kind it is. It's something you have to find out for yourself.</p>
	    </div>
			<div class="col-md-4">
				<img class="img-circle" src="http://placecage.com/200/200">
	      <h4>The Cage</h4>
	      <p>There are no kinds of Nicolas Cage. Nicolas Cage defies categorisation. You can't cage the cage with your cages.</p>
	    </div>
	  </div>

		<div class="row">
			<div class="col-md-12">
				<h3><a class="btn btn-primary" href="/home/">Git Gud</a></h3>
			</div>
		</div>
	</div>
</div>
